input.ng-touched.ng-invalid{
    border: 2px solid #171717;
}
input.ng-touched.ng-valid{
    border: 2px solid green;
}
div{
    color:hsl(0, 0%, 4%) ;
}
.border{
    border: 2px solid #013910 !important;
    width: 400px;
    height: 350px;
    text-align: center;
    padding-top:70px ;
   
    margin-top: 100px;
    margin-left: 550px;
   background-image: url("https://img.freepik.com/premium-photo/tree-illustration-big-tree-drawing_738110-73.jpg?w=996");
   /* opacity: 0.7; */
}
input{
    width: 200px;
    height: 25px;
    margin: 20px;
    color: #171717;
}
p{
    font-size: 18px;
}
span{
    font-size: 18px;
}
button{
    padding: 5px;
    font-size: 18px;
    border: 1px solid black;
}
h1{
    text-align: center;
    padding-top: 50px;
    color: rgb(119, 240, 21);
}
.rout a{
    color: rgb(240, 222, 21);
    font-weight: 400;
    font-size: 19px;
    text-decoration: none;
    margin-top: 20px;
}