.title a{
    text-decoration: none;
    color: rgb(248, 245, 245);  
   
} 
.navs{
    /* border-bottom: 1px solid rgb(33, 22, 251);
    background-color: #2cc0f6; */
    /* position: fixed; */
    width: 100%;
    z-index: 999;

} 

.navs li{
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropdown-button {
   
 
   
    border: none;
    cursor: pointer;
}

/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
 
    /* min-width: 160px; */

    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: #f7f5f5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #c8afd9;
    color: #fff !important;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

.kk{
  display: grid;
 grid-template-columns: auto auto ; 

 /* margin-left: 300px; */
}

.form-control{
    border-radius: 3px ;
    width: 500px;
  
   
   background-color: rgb(154, 205, 228);
    color: #fefbfb !important;
}
.search-icon{
    position: absolute;
    top: 20%;
   right: 12%;

}
h6{
    font-size: 15px;
}
a{
    text-decoration: none;
   
}
.items{
    border-bottom: 1px solid black;
}
.item a:hover{
   color:blue ;
}
.card img{
transition: 0.3s ease-in-out;
margin-bottom: 15px;

}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);  
}
.card{
 
  width: 350px;
}
.btn{
    width: 250px;
}
.hh{
    position: absolute;
    background-color: red;
    right: 59px;
    top: 60px;
    border-radius: 5px;

}
.ww{
    border: 1px solid rgb(77, 77, 216);
}
