.nav{
    background-image: url("https://images.unsplash.com/photo-1609769274404-a603c8e97b68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGdyZWVuJTIwbGVhdmVzJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    width: 100%; 
     height: 830px; 

  
   text-align: center;
   
}
a {
    text-decoration: none;
   color: white;
    
}
li{
    list-style: none;
}

