<div class="nav">
    <section class="navs d-flex justify-content-between ">
        <div class="py-4 px-4 text-light title fs-1 fw-bold"> <a href="" class="title fs-1 fw-bold" >GROW </a></div> 
        <span class="text-light title fs-5 fw-semibold details d-flex p-5 ps-5 ">
            <li class="px-3"> <a href=""  routerLink="/login">login</a> </li>
            <li class="px-3"><a href=""  routerLink="/signup">signup</a></li>
        </span>
   
    <router-outlet></router-outlet>
    </section>
    <h1 class="text-light fs-1 fw-bold az">Don't judge each day by the harvest <br> you reap but by the seeds that you plant</h1>
</div>
