.title a{
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(34, 65, 34);

   
} 
 .opt{
   visibility: hidden;
} 
.opt:hover{
  
   visibility: visible;
} 
.details select{
    background-color: rgb(34, 65, 34);
    color: white; 
    border: 1px solid  rgb(35, 61, 35);
}
.title li {
    list-style: none;
}
.title span {
    color: rgb(11, 191, 11);
   
} 
.title i{
    color: rgb(11, 191, 11);
    font-size: 20px;
  
}
.navs{
  background-image: url("https://previews.123rf.com/images/somchai999/somchai9992003/somchai999200300066/142294714-green-leaves-background-nature-green-leaf-wall-texture-of-the-tropical-forest-plant-on-black.jpg");
    width: 100%;
    height: 840px
  
 
}
.nav{
    background-image: url("https://previews.123rf.com/images/somchai999/somchai9992003/somchai999200300066/142294714-green-leaves-background-nature-green-leaf-wall-texture-of-the-tropical-forest-plant-on-black.jpg");
    width: 100%;
    height: 100%;
   
}
.container2{
   text-align: center;
   align-items: center;
}
.big{
    font-size: 90px;
}
.bts{
    margin-bottom: 150px;
}
.pp{
    letter-spacing: 2px;
    font-size: 35px;
}
a{
    text-decoration: none;
}
.dd{
    letter-spacing: 2px;
}
.kk{
    color: greenyellow;
    font-size: 30px;
}
.bb{
    opacity: 0.9;
}

.hh{
    height: 100%;
    width: 100%;
}
.kl{
  padding-left: 500px!important;
}
.nm{
    top: 200px;
}
.ll  {
   margin-left: 100px;
}
.nn{
    top: 520px;
}
a {
    background-color: rgb(140, 171, 140);
    
}
.lo{
    margin-left: 100px;
}
iframe{
    width: 100%;
  
}




.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropdown-button {
    background-color: #3498db;
    color: #fff;
   
    border: none;
    cursor: pointer;
}

/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: #b9ecb8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #c8afd9;
    color: #fff !important;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}


